#app {
    #main {
        .page-heading {
            .page-title {
                .row {
                    .imagesUser {
                        width: 100%;
                        max-width: 48px;
                        max-width: 48px;
                        border-radius: 50%;
                        margin-right: .7rem;
                    }
                    h3 {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .section {
            .card {
                background: none !important;
                .card-header {
                    background: none !important;
                    padding: 0;
                }
                .card-body {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: center;
                    .cards {
                        width: 100%;
                        // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
                        border-radius: 8px;
                        background: #fff;
                        height: 100%;
                        .imagesService {
                            img {
                                width: 100%;
                                border-radius: 8px 8px 0 0;
                                object-fit: cover;
                                max-height: 320px;
                            }
                        }
                        .detailService {
                            text-align: center;
                            padding: 2rem 1rem;
                            .nameService {
                                color: #25396f !important;
                                font-weight: 800;
                            }
                            .kategori {
                                color: #607080;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width : 0px) {
    #app {
        #main {
            .section {
                .card {
                    .card-body {
                        .cards {
                            width: 100%;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 576px) {
    #app {
        #main {
            .section {
                .card {
                    .card-body {
                        .cards {
                            margin-top: 0rem;
                            margin: .8rem .8rem;
                            width: 44.4%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 992px) {
    #app {
        #main {
            .section {
                .card {
                    .card-body {
                        .cards {
                            margin: 1rem 1rem;
                            width: 29.6%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1200px) {
    #app {
        #main {
            .section {
                .card {
                    .card-body {
                        .cards {
                            margin: 1   rem .8rem;
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1400px) {
    #app {
        #main {
            .section {
                .card {
                    .card-body {
                        .cards {
                            width: 30.7%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 1900px) {
    #app {
        #main {
            .section {
                .card {
                    .card-body {
                        .cards {
                            width: 18.2%;
                        }
                    }
                }
            }
        }
    }
}